%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}
.wrap{
  margin: 0 auto;
  width: 1100px;
}

.point-a{
  &::before{
    @extend %in-b;
    content: '';
    width: 4px;
    height: 4px;
    background-color: #666;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.wx-list{
  margin-bottom: 50px; // 最后删除
  .list-title{
    @extend %clearfix;
    border-bottom: 1px solid #e1e1e1;
    height: 40px;
    .title-l{
      float: left;
      .l-icon{
        @extend %in-b;
        width: 37px;
        height: 40px;
        background: url("../images/icon_1.png") no-repeat;
        margin-left: -9px;
        vertical-align: middle;
      }
      .l-text{
        @extend %in-b;
        font-size: 24px;
        line-height: 24px;
        color: #333333;
        vertical-align: top;
      }
    }
    .title-r{
      float: right;
      .r-nav{
        li{
          @extend %in-b;
          height: 40px;
          line-height: 40px;
          margin-right: 24px;
          a{
            font-size: 14px;
            color: #666666;
            &:hover{
              color: #cf3340;
            }
          }
          &.active{
            border-bottom: 1px solid #cf3340;
            a{
              color: #cf3340;
            }
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
  .list-tab{
    padding-top: 20px;
    @extend %clearfix;
    margin-right: -40px;
    .tab-head{
      float: left;
      margin-right: 36px;
      li{
        width: 124px;
        height: 40px;
        background-color: #efefef;
        border-radius: 4px;
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 40px;
        color: #444444;
        text-align: center;
        cursor: pointer;
        &.active{
          background: #cf3340;
          color: #ffffff;
        }
      }
    }
    .tab-cont{
      float: left;
      width: 970px;
      .cont-item{
        @extend %clearfix;
        display: none;
        &.active{
          display: block;
        }
        li{
          float: left;
          width: 272px;
          @extend .point-a;
          color: #666666;
          font-size: 14px;
          margin-bottom: 4px;
          margin-right: 50px;
          a{
            @extend %in-b;
            @extend %one;
            width: 218px;
            height: 32px;
            line-height: 32px;
            vertical-align: middle;
            &:hover{
              color: #cf3340;
            }
          }
        }
      }
    }
  }
}
.wx-list2{
  border: 1px solid #e6e6e6;
  padding-top: 16px;
  padding-bottom: 20px;
  .list-title{
    border-bottom: 0;
    .title-l{
      margin-left: 20px;
    }
    .title-r{
      .tab-head{
        li{
          float: left;
          width: 124px;
          height: 40px;
          background-color: #efefef;
          border-radius: 4px;
          font-size: 16px;
          line-height: 40px;
          color: #444444;
          text-align: center;
          cursor: pointer;
          margin-right: 13px;
          &.active{
            background: #cf3340;
            color: #ffffff;
          }
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
  .list-tab{
    .tab-cont{
      width: 100%;
      margin-left: 19px;
      .cont-item{
        li{
          margin-right: 106px;
        }
      }
    }
  }
}
.wx-list3{
  padding-bottom: 10px;
  .list-tab{
    .tab-cont{
      .cont-item{
        li{
          width: 167px;
          margin-right: 12px;
          margin-bottom: 13px;
          &:before{
            display: none;
          }
          a{
            width: 100%;
            border: solid 1px #e6e6e6;
            text-align: center;
          }
        }
      }
    }
  }
}
